[submodule "stl2"]
	path = stl2
	url = https://github.com/LaurensVanDamme/STL-monitoring
[submodule "stlTool"]
	path = stlTool
	url = git@github.com:pieter-hendriks/STL-monitoring.git
[submodule "openAI/agents"]
	path = openAI/agents
	url = git@github.com:pieter-hendriks/Deep-Reinforcement-Learning-Algorithms-with-PyTorch.git
